.marker-cluster-small {
	background-color: rgba(200, 71, 74, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(200, 71, 74, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(64, 0, 42, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(64, 0, 42, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(86, 105, 47, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(86, 105, 47, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(200, 71, 74);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(200, 71, 74);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(64, 0, 42);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(64, 0, 42);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(86, 105, 47);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(86, 105, 47);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: bold 14px "Algreya","Helvetica Neue", Arial, Helvetica, sans-serif;
	color: white
	}
.marker-cluster span {
	line-height: 30px;
	}